<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZOYI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZOYI.Properties.Settings>
            <setting name="baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="default_com" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>pl</value>
            </setting>
            <setting name="panel_std_label_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="panel_std_value_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="panel_std_bg_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="main_form_pos_x" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="main_form_pos_y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="panel_std_form_pos_x" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="panel_std_form_pos_y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="panel_adv_label_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="panel_adv_value_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="panel_adv_bg_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="panel_adv_form_pos_x" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="panel_adv_form_pos_y" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="panel_adv_ticks" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="panel_adv_thicks_count" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="panel_std_footer_color" serializeAs="String">
                <value />
            </setting>
        </ZOYI.Properties.Settings>
    </userSettings>
</configuration>